* {
  margin: 0;
  padding: 0;
  font-family: Avenir, sans-serif;
  color: #282623;
}

body {
  background-image: url("../assets/fond.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
body header nav {
  width: 100%;
  position: fixed;
  top: 0px;
  z-index: 1;
  height: 80px;
}
@media screen and (max-width: 576px) {
  body header nav {
    position: relative;
    height: auto;
  }
}
body header nav ul {
  list-style-type: none;
}
body header nav ul:after {
  content: "";
  display: table;
  clear: both;
}
body header nav ul li {
  background-color: #88a550;
  float: left;
  width: 20%;
  text-align: center;
}
@media screen and (max-width: 576px) {
  body header nav ul li {
    width: 100%;
    float: none;
  }
}
body header nav ul li.active a {
  color: #fbcd4b;
  border-bottom: 2px solid #ffd700;
}
body header nav ul li a {
  padding-top: 20px;
  display: block;
  text-decoration: none;
  font-size: 2rem;
  color: black;
  height: 60px;
  border-bottom: 2px solid transparent;
}
@media screen and (max-width: 576px) {
  body header nav ul li a {
    height: 100%;
    padding: 5px;
    font-size: 1.2rem;
    letter-spacing: 3px;
    text-transform: uppercase;
  }
}
@media screen and (min-width: 576px) and (max-width: 991px) {
  body header nav ul li a {
    font-size: 1.35rem;
    height: auto;
    padding: 5px 0;
  }
}
body header nav ul li a:hover {
  color: #86c40b;
  border-bottom: 2px solid #86c40b;
}
body header div {
  height: 80px;
}
@media screen and (max-width: 576px) {
  body header div {
    display: none;
  }
}
@media screen and (min-width: 576px) and (max-width: 991px) {
  body header div {
    height: 3rem;
  }
}
body main {
  max-width: 1140px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 30px 20px;
  background-color: whitesmoke;
}
@media screen and (min-width: 992px) and (max-width: 1140px) {
  body main {
    max-width: 950px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  body main {
    max-width: 750px;
  }
}
@media screen and (min-width: 576px) and (max-width: 768px) {
  body main {
    width: 500px;
  }
}
@media screen and (max-width: 576px) {
  body main {
    width: 90%;
  }
}
body main h1, body main h2 {
  color: #fbcd4b;
  text-shadow: 2px 2px 2px #88a550;
}
body main h1 {
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 40px;
}
@media screen and (max-width: 576px) {
  body main h1 {
    font-size: 30px;
  }
}
body main h2 {
  margin: 2rem 0 1rem 0;
  text-align: center;
  text-decoration: underline;
  font-size: 30px;
}
@media screen and (max-width: 576px) {
  body main h2 {
    font-size: 25px;
  }
}
body main h3 {
  margin: 2rem 0 1rem 0;
  font-size: 20px;
}
body main p {
  font-size: 16px;
}
body footer {
  padding-top: 1rem;
  background-color: #fbcd4b;
}
body footer .footer-content {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}
body footer .footer-content > div {
  width: 300px;
  margin: 1rem 0;
}
body footer .footer-content .footer_menu {
  padding-left: 2rem;
}
@media screen and (max-width: 576px) {
  body footer .footer-content .footer_menu {
    padding-left: 0;
  }
}
body footer .footer-content .footer_reseau {
  text-align: center;
}
@media screen and (max-width: 576px) {
  body footer .footer-content .footer_reseau {
    text-align: left;
  }
}
body footer .footer-content .footer_reseau i {
  font-size: 30px;
  margin-right: 1rem;
}
body footer .copyright {
  text-align: center;
  font-weight: bold;
  padding: 0 0 1.5rem 0;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: auto;
}
@media screen and (max-width: 768px) {
  .row {
    flex-direction: column;
  }
}

.txtcenter {
  text-align: center;
}

@-webkit-keyframes shiny-btn1 {
  0% {
    -webkit-transform: scale(0) rotate(45deg);
    opacity: 0;
  }
  80% {
    -webkit-transform: scale(0) rotate(45deg);
    opacity: 0.5;
  }
  81% {
    -webkit-transform: scale(4) rotate(45deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(50) rotate(45deg);
    opacity: 0;
  }
}

@keyframes shiny-btn1 {
  0% {
    -webkit-transform: scale(0) rotate(45deg);
    opacity: 0;
  }
  80% {
    -webkit-transform: scale(0) rotate(45deg);
    opacity: 0.5;
  }
  81% {
    -webkit-transform: scale(4) rotate(45deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(50) rotate(45deg);
    opacity: 0;
  }
}
main .banner img {
  width: 60%;
}
@media screen and (max-width: 768px) {
  main .banner img {
    width: 100%;
  }
}
main .banner iframe {
  width: 40%;
}
@media screen and (max-width: 768px) {
  main .banner iframe {
    width: 100%;
    margin-top: 1rem;
    box-shadow: 0px 0px 5px 5px #88a550;
    border-radius: 5px;
    height: 50vh;
  }
}
main .acces {
  display: flex;
  align-items: center;
}
main .acces > div {
  padding: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0px 0px 5px 3px #88a550;
  border-radius: 5px;
}
main .acces > div:hover {
  box-shadow: 0px 0px 10px 5px #fbcd4b;
}
main .acces > div h3 {
  margin-top: 0;
}
main .acces > div img {
  width: 3rem;
  margin-bottom: 1rem;
}
main .services div {
  width: 40%;
  margin: 2rem auto;
}
@media screen and (max-width: 576px) {
  main .services div {
    width: 90%;
  }
}
main .services div img {
  width: 3rem;
}
main li {
  margin-left: 2rem;
}/*# sourceMappingURL=festival.css.map */