* {
  margin: 0;
  padding: 0;
  font-family: Avenir, sans-serif;
  color: #282623;
}

body {
  background-image: url("../assets/fond.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
body header nav {
  width: 100%;
  background-color: white;
  position: fixed;
  top: 0px;
  z-index: 1;
  height: 80px;
}
body header nav ul {
  list-style-type: none;
}
body header nav ul:after {
  content: "";
  display: table;
  clear: both;
}
body header nav ul li {
  float: left;
  width: 25%;
  text-align: center;
}
body header nav ul li.active a {
  color: #fbcd4b;
  border-bottom: 2px solid #ffd700;
}
body header nav ul li a {
  padding-top: 20px;
  display: block;
  text-decoration: none;
  font-size: 2rem;
  color: black;
  height: 60px;
  border-bottom: 2px solid transparent;
}
body header nav ul li a:hover {
  color: #88a550;
  border-bottom: 2px solid #86c40b;
}
body header div {
  height: 80px;
}
body main {
  max-width: 1140px;
  margin: 0 auto;
  padding: 30px 20px;
  background-color: whitesmoke;
}
body main h1 {
  text-align: center;
  margin-bottom: 1.5rem;
}
body main h2 {
  margin: 2rem 0 1rem 0;
  text-align: center;
  text-decoration: underline;
}
body footer {
  padding-top: 1rem;
  background-color: #fbcd4b;
}
body footer .footer-content {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}
body footer .copyright {
  text-align: center;
  font-weight: bold;
  padding: 2rem 0;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: auto;
}

@-webkit-keyframes shiny-btn1 {
  0% {
    -webkit-transform: scale(0) rotate(45deg);
    opacity: 0;
  }
  80% {
    -webkit-transform: scale(0) rotate(45deg);
    opacity: 0.5;
  }
  81% {
    -webkit-transform: scale(4) rotate(45deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(50) rotate(45deg);
    opacity: 0;
  }
}

@keyframes shiny-btn1 {
  0% {
    -webkit-transform: scale(0) rotate(45deg);
    opacity: 0;
  }
  80% {
    -webkit-transform: scale(0) rotate(45deg);
    opacity: 0.5;
  }
  81% {
    -webkit-transform: scale(4) rotate(45deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(50) rotate(45deg);
    opacity: 0;
  }
}
table {
  font-size: 1.6rem;
  width: 100%;
  box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.25);
  border-radius: 0.5em;
}
table thead tr th {
  background-color: #fbcd4b;
  color: #fff;
}
table tbody tr:not(:last-child) td {
  border-bottom: 1px solid #ccc;
}
table tbody tr td {
  padding: 0.5rem;
}
table tbody tr td:nth-child(3) {
  display: flex;
  align-items: center;
}
table tbody tr td:nth-child(3) img {
  width: 2rem;
  aspect-ratio: 3/4;
  -o-object-fit: contain;
     object-fit: contain;
  margin-right: 1rem;
}
table tbody tr td:not(:nth-child(3)) {
  text-align: center;
}

#programme .nav {
  display: flex;
  justify-content: center;
}
#programme .nav button {
  margin: 20px;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
  border: none;
  background: linear-gradient(0deg, #fbcd4b 0%, #ffd700 100%);
  color: #fff;
  overflow: hidden;
}
#programme .nav button:hover {
  text-decoration: none;
  opacity: 0.7;
}
#programme .nav button:before {
  position: absolute;
  content: "";
  display: inline-block;
  top: -180px;
  left: 0;
  width: 30px;
  height: 100%;
  background-color: #fff;
  -webkit-animation: shiny-btn1 3s ease-in-out infinite;
          animation: shiny-btn1 3s ease-in-out infinite;
}
#programme .nav .btn-selected {
  border: 1px solid gray;
}
#programme .list {
  padding: 2rem;
}
#programme .list .card {
  display: flex;
  position: relative;
  width: 90%;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.6);
  border-radius: 1rem;
  margin-bottom: 5rem;
  padding: 2rem;
}
#programme .list .card .heure {
  font-size: 1.5rem;
  font-weight: bold;
  background-color: black;
  color: #0f0;
  border-radius: 1rem;
  padding: 0.5rem;
  position: absolute;
  top: 2rem;
  right: 2rem;
}
#programme .list .card img {
  max-height: 340px;
  -o-object-fit: contain;
     object-fit: contain;
  aspect-ratio: 3/4;
  padding: 0.5rem;
}
#programme .list .card .card-content {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  width: 50%;
  height: auto;
}
#programme .list .card .card-content h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;
}
#programme .list .card .card-content .author {
  display: flex;
  font-size: 1.2rem;
  font-weight: bold;
  color: #a3a599;
  margin: 1rem 0;
}
#programme .list .card .card-content .author strong {
  margin-left: 0.5rem;
  color: #282623;
}
#programme .list .card .card-content .author .duration {
  margin-left: auto;
  font-size: 1.2rem;
  font-weight: bold;
  color: #a3a599;
}
#programme .list .card .card-content .description {
  font-size: 1.2rem;
  text-align: justify;
}
#programme .list .card .card-right {
  width: 20%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
#programme .list .card .card-right button {
  padding: 0.5rem;
  border-radius: 1rem;
  background-color: #0f0;
  color: #000;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
}
#programme .list .card .card-right button {
  margin: 20px;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
  border: none;
  background: linear-gradient(0deg, #0f0 0%, #0f0 100%);
  color: #000;
  overflow: hidden;
}
#programme .list .card .card-right button:hover {
  text-decoration: none;
  opacity: 0.7;
}
#programme .list .card .card-right button:before {
  position: absolute;
  content: "";
  display: inline-block;
  top: -180px;
  left: 0;
  width: 30px;
  height: 100%;
  background-color: #fff;
  -webkit-animation: shiny-btn1 3s ease-in-out infinite;
          animation: shiny-btn1 3s ease-in-out infinite;
}/*# sourceMappingURL=films.css.map */