@-webkit-keyframes shiny-btn1 {
  0% {
    -webkit-transform: scale(0) rotate(45deg);
    opacity: 0;
  }
  80% {
    -webkit-transform: scale(0) rotate(45deg);
    opacity: 0.5;
  }
  81% {
    -webkit-transform: scale(4) rotate(45deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(50) rotate(45deg);
    opacity: 0;
  }
}
@keyframes shiny-btn1 {
  0% {
    -webkit-transform: scale(0) rotate(45deg);
    opacity: 0;
  }
  80% {
    -webkit-transform: scale(0) rotate(45deg);
    opacity: 0.5;
  }
  81% {
    -webkit-transform: scale(4) rotate(45deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(50) rotate(45deg);
    opacity: 0;
  }
}
* {
  margin: 0;
  padding: 0;
  font-family: Avenir, sans-serif;
  color: #282623;
}

body {
  background-image: url("../assets/fond.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
body header nav {
  width: 100%;
  position: fixed;
  top: 0px;
  z-index: 1;
  height: 80px;
}
@media screen and (max-width: 576px) {
  body header nav {
    position: relative;
    height: auto;
  }
}
body header nav ul {
  list-style-type: none;
}
body header nav ul:after {
  content: "";
  display: table;
  clear: both;
}
body header nav ul li {
  background-color: #88a550;
  float: left;
  width: 20%;
  text-align: center;
}
@media screen and (max-width: 576px) {
  body header nav ul li {
    width: 100%;
    float: none;
  }
}
body header nav ul li.active a {
  color: #fbcd4b;
  border-bottom: 2px solid #ffd700;
}
body header nav ul li a {
  padding-top: 20px;
  display: block;
  text-decoration: none;
  font-size: 2rem;
  color: black;
  height: 60px;
  border-bottom: 2px solid transparent;
}
@media screen and (max-width: 576px) {
  body header nav ul li a {
    height: 100%;
    padding: 5px;
    font-size: 1.2rem;
    letter-spacing: 3px;
    text-transform: uppercase;
  }
}
@media screen and (min-width: 576px) and (max-width: 991px) {
  body header nav ul li a {
    font-size: 1.35rem;
    height: auto;
    padding: 5px 0;
  }
}
body header nav ul li a:hover {
  color: #86c40b;
  border-bottom: 2px solid #86c40b;
}
body header div {
  height: 80px;
}
@media screen and (max-width: 576px) {
  body header div {
    display: none;
  }
}
@media screen and (min-width: 576px) and (max-width: 991px) {
  body header div {
    height: 3rem;
  }
}
body main {
  max-width: 1140px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 30px 20px;
  background-color: whitesmoke;
}
@media screen and (min-width: 992px) and (max-width: 1140px) {
  body main {
    max-width: 950px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  body main {
    max-width: 750px;
  }
}
@media screen and (min-width: 576px) and (max-width: 768px) {
  body main {
    width: 500px;
  }
}
@media screen and (max-width: 576px) {
  body main {
    width: 90%;
  }
}
body main h1,
body main h2 {
  color: #fbcd4b;
  text-shadow: 2px 2px 2px #88a550;
}
body main h1 {
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 40px;
}
@media screen and (max-width: 576px) {
  body main h1 {
    font-size: 30px;
  }
}
body main h2 {
  margin: 2rem 0 1rem 0;
  text-align: center;
  text-decoration: underline;
  font-size: 30px;
}
@media screen and (max-width: 576px) {
  body main h2 {
    font-size: 25px;
  }
}
body main h3 {
  margin: 2rem 0 1rem 0;
  font-size: 20px;
}
body main p {
  font-size: 16px;
}
body footer {
  padding-top: 1rem;
  background-color: #fbcd4b;
}
body footer .footer-content {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}
@media screen and (max-width: 991px) {
  body footer .footer-content {
    font-size: 0.8rem;
  }
}
body footer .footer-content > div {
  width: 300px;
  margin: 1rem 0;
}
body footer .footer-content .footer_menu {
  padding-left: 2rem;
}
@media screen and (max-width: 768px) {
  body footer .footer-content .footer_menu {
    padding-left: 0;
  }
}
body footer .footer-content .footer_newsletter {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}
body footer .footer-content .footer_newsletter p {
  margin-bottom: 0.5rem;
}
body footer .footer-content .footer_newsletter form {
  display: flex;
  align-items: center;
}
body footer .footer-content .footer_newsletter form button {
  margin: 20px;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
  border: none;
  background: linear-gradient(0deg, #88a550 0%, #86c40b 100%);
  color: #000;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  body footer .footer-content .footer_newsletter form button {
    font-size: 16px;
    padding: 5px 10px;
    margin: 1rem 5px;
  }
}
body footer .footer-content .footer_newsletter form button:hover {
  text-decoration: none;
  opacity: 0.7;
}
body footer .footer-content .footer_newsletter form button:before {
  position: absolute;
  content: "";
  display: inline-block;
  top: -180px;
  left: 0;
  width: 30px;
  height: 100%;
  background-color: #fff;
  -webkit-animation: shiny-btn1 3s ease-in-out infinite;
          animation: shiny-btn1 3s ease-in-out infinite;
}
body footer .footer-content .footer_newsletter form button {
  margin: 0;
  margin-left: 1rem;
  font-size: 0.8rem;
  padding: 4px 6px;
}
body footer .footer-content .footer_reseau {
  text-align: center;
}
@media screen and (max-width: 768px) {
  body footer .footer-content .footer_reseau {
    text-align: left;
  }
}
body footer .footer-content .footer_reseau i {
  font-size: 30px;
  margin-right: 1rem;
}
@media screen and (max-width: 991px) {
  body footer .footer-content .footer_reseau i {
    font-size: 20px;
  }
}
body footer .footer-content .footer_contact {
  padding: 0.7rem;
}
body footer .footer-content li {
  list-style: none;
}
body footer .copyright {
  text-align: center;
  font-weight: bold;
  padding: 0 0 1.5rem 0;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: auto;
}
@media screen and (max-width: 768px) {
  .row {
    flex-direction: column;
  }
}

.txtcenter {
  text-align: center;
}

.cookie-box {
  font-size: 1.5rem;
  position: fixed;
  left: 0;
  z-index: 99;
  right: 0;
  top: 0;
  text-align: center;
  padding: 1.6rem 2rem;
  background: #fbcd4b;
  transition: all 2s cubic-bezier(0.19, 1, 0.22, 1);
}
.cookie-box--hide {
  opacity: 0;
  top: -50%;
}

.cookie-button {
  display: inline-block;
  cursor: pointer;
  padding: 1rem 0.85rem;
  margin-left: 0.45rem;
  color: #fff;
  letter-spacing: 1px;
  background-image: linear-gradient(62deg, #88a550 0%, #86c40b 100%);
}

.intro {
  background: #fafafa;
  padding: 1em;
  border-radius: 0.5em;
  box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.25);
}
.intro p {
  margin: 1rem 0;
  font-size: 1.4rem;
  text-align: center;
}
@media screen and (max-width: 576px) {
  .intro p {
    font-size: 16px;
  }
}
.intro div {
  text-align: center;
}
.intro div button {
  margin: 20px;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
  border: none;
  background: linear-gradient(0deg, #fbcd4b 0%, #ffd700 100%);
  color: #fff;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .intro div button {
    font-size: 16px;
    padding: 5px 10px;
    margin: 1rem 5px;
  }
}
.intro div button:hover {
  text-decoration: none;
  opacity: 0.7;
}
.intro div button:before {
  position: absolute;
  content: "";
  display: inline-block;
  top: -180px;
  left: 0;
  width: 30px;
  height: 100%;
  background-color: #fff;
  -webkit-animation: shiny-btn1 3s ease-in-out infinite;
          animation: shiny-btn1 3s ease-in-out infinite;
}

@media screen and (max-width: 991px) {
  .affiche {
    display: flex;
    flex-direction: column;
  }
}
.affiche .card {
  width: 23%;
  padding: 5px 5px 20px 5px;
  box-shadow: 0px 0px 5px black;
  border-radius: 10px;
  position: relative;
}
@media screen and (max-width: 991px) {
  .affiche .card {
    margin: 1rem auto;
    width: 90%;
  }
}
.affiche .card img {
  width: 100%;
  max-height: 340px;
  -o-object-fit: contain;
     object-fit: contain;
}
.affiche .card .title {
  height: 5rem;
  font-size: 1.4rem;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.affiche .card .date {
  position: absolute;
  border-top-left-radius: 10px;
  top: 0;
  left: 0;
  background-color: red;
  color: white;
  padding: 0.8em 0.3em;
}
.affiche .card .date span {
  display: block;
  text-align: center;
  color: white;
}
.affiche .card .date .day {
  font-weight: 700;
  font-size: 24px;
  text-shadow: 2px 3px 2px rgba(0, 0, 0, 0.18);
}
.affiche .card .date .month {
  text-transform: uppercase;
}
.affiche .card .date .month,
.affiche .card .date .year {
  font-size: 12px;
}
.affiche .card .author {
  text-align: center;
  height: 3rem;
  margin-top: 0.5rem;
}
.affiche .card .desc {
  text-align: justify;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 0;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  margin-bottom: 1rem;
}/*# sourceMappingURL=index.css.map */