// MIXING PARAMETERS
@mixin custom-btn($btn-font-color: $font-color-white, $btn-bg-color: $primary-color, $btn-bg-color-2: $primary-color-2) {
  button {
    margin: 20px;
    // width: 130px;
    // height: 40px;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: "Lato", sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1),
      4px 4px 5px 0px rgba(0, 0, 0, 0.1);
    outline: none;
    border: none;
    background: linear-gradient(0deg, $btn-bg-color 0%, $btn-bg-color-2 100%);
    color: $btn-font-color;
    overflow: hidden;
    @media screen and (max-width: 768px) {
      font-size: 16px;
      padding: 5px 10px;
      margin: 1rem 5px;
    }
    &:hover {
      text-decoration: none;
      opacity: 0.7;
    }
    &:before {
      position: absolute;
      content: "";
      display: inline-block;
      top: -180px;
      left: 0;
      width: 30px;
      height: 100%;
      background-color: #fff;
      animation: shiny-btn1 3s ease-in-out infinite;
    }
  }
}
@keyframes shiny-btn1 {
  0% {
    -webkit-transform: scale(0) rotate(45deg);
    opacity: 0;
  }
  80% {
    -webkit-transform: scale(0) rotate(45deg);
    opacity: 0.5;
  }
  81% {
    -webkit-transform: scale(4) rotate(45deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(50) rotate(45deg);
    opacity: 0;
  }
}
