//Paramètres globaux
$primary-color: #fbcd4b;
$primary-color-2: #ffd700;
$secondary-color: #88a550;
$secondary-color-2: #86c40b;
$font-color: #282623;
$font-color-2: #a3a599;
$font-color-white: #fff;

* {
  margin: 0;
  padding: 0;
  font-family: Avenir, sans-serif;
  color: $font-color;
}

// Paramètres du menu
$menu-height: 80px;
$menu-font-padding-top: 20px;
$menu-font-size: 2rem;
$menu-font-color: $primary-color;
$menu-border-bottom-color: $primary-color-2;
$menu-font-color-hover: $secondary-color-2;
$menu-border-bottom-color-hover: $secondary-color-2;

body {
  background-image: url("../assets/fond.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  // background-color: $font-color;
  header {
    nav {
      width: 100%;
      position: fixed;
      top: 0px;
      z-index: 1;
      height: $menu-height;
      @media screen and (max-width: 576px) {
        position: relative;
        height: auto;
      }
      ul {
        list-style-type: none;
        &:after {
          content: "";
          display: table;
          clear: both;
        }
        li {
          background-color: $secondary-color;
          float: left;
          width: 20%;
          text-align: center;
          @media screen and (max-width: 576px) {
            width: 100%;
            float: none;
          }
          &.active {
            a {
              color: $menu-font-color;
              border-bottom: 2px solid $menu-border-bottom-color;
            }
          }
          a {
            padding-top: $menu-font-padding-top;
            display: block;
            text-decoration: none;
            font-size: $menu-font-size;
            color: black;
            height: $menu-height - $menu-font-padding-top;
            border-bottom: 2px solid transparent;
            // padding: 5px 0;
            @media screen and (max-width: 576px) {
              height:  100%;
              padding: 5px ;
              font-size: 1.2rem;
              letter-spacing: 3px;
              text-transform: uppercase;
            }
            @media screen and (min-width: 576px) and (max-width: 991px) {
              font-size: 1.35rem;
              height: auto;
              padding: 5px 0;
            }
            &:hover {
              color: $menu-font-color-hover;
              border-bottom: 2px solid $menu-border-bottom-color-hover;
            }
          }
        }
      }
    }
    div {
      height: $menu-height ;
      @media screen and (max-width: 576px) {
        display: none;
      }
      @media screen and (min-width: 576px) and (max-width: 991px) {
        height: 3rem;
      }
    }
  }

  main {
    max-width: 1140px;
    min-height: 100vh;
    margin: 0 auto;
    padding: 30px 20px;
    background-color: whitesmoke;

    @media screen and (min-width: 992px) and (max-width: 1140px) {
      max-width: 950px;
    }
    @media screen and (min-width: 768px) and (max-width: 991px) {
      max-width: 750px;
    }
    @media screen and (min-width: 576px) and (max-width: 768px) {
      width: 500px;
    }
    @media screen and (max-width: 576px) {
      width: 90%;
    }
    
    h1,h2 {
      color: $primary-color;
      text-shadow: 2px 2px 2px $secondary-color;
    }
    h1 {
      text-align: center;
      margin-bottom: 1.5rem;
      font-size: 40px;
      @media screen and (max-width: 576px) {
        font-size: 30px;
      }
    }
    h2 {
      margin: 2rem 0 1rem 0;
      text-align: center;
      text-decoration: underline;
      font-size: 30px;
      @media screen and (max-width: 576px) {
        font-size: 25px;
      }
    }
    h3 {
      margin: 2rem 0 1rem 0;
      font-size: 20px;
    }
    p{
      font-size: 16px;
    }
  }

  footer {
    padding-top: 1rem;
    background-color: $primary-color;
    .footer-content {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: space-around;
      > div {
        width: 300px;
        margin: 1rem 0;
      }
      .footer_reseau{
        text-align: center;
        @media screen and (max-width: 576px) {
          text-align: left;
        }
        i{
          font-size: 30px;
          margin-right: 1rem;
        }
      }
    }
    .copyright {
      text-align: center;
      font-weight: bold;
      padding:0 0 1.5rem 0;
    }
  }
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: auto;
  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
}
.txtcenter {
  text-align: center;
}

@mixin custom-btn($btn-font-color: $font-color-white, $btn-bg-color: $primary-color, $btn-bg-color-2: $primary-color-2) {
  button {
    margin: 20px;
    // width: 130px;
    // height: 40px;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: "Lato", sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1),
      4px 4px 5px 0px rgba(0, 0, 0, 0.1);
    outline: none;
    border: none;
    background: linear-gradient(0deg, $btn-bg-color 0%, $btn-bg-color-2 100%);
    color: $btn-font-color;
    overflow: hidden;
    @media screen and (max-width: 768px) {
      font-size: 16px;
      padding: 5px 10px;
      margin: 1rem 5px;
    }
    &:hover {
      text-decoration: none;
      opacity: 0.7;
    }
    &:before {
      position: absolute;
      content: "";
      display: inline-block;
      top: -180px;
      left: 0;
      width: 30px;
      height: 100%;
      background-color: #fff;
      animation: shiny-btn1 3s ease-in-out infinite;
    }
  }
}
@keyframes shiny-btn1 {
  0% {
    -webkit-transform: scale(0) rotate(45deg);
    opacity: 0;
  }
  80% {
    -webkit-transform: scale(0) rotate(45deg);
    opacity: 0.5;
  }
  81% {
    -webkit-transform: scale(4) rotate(45deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(50) rotate(45deg);
    opacity: 0;
  }
}

