//Paramètres globaux
$primary-color: #fbcd4b;
$primary-color-2: #ffd700;
$secondary-color: #88a550;
$secondary-color-2: #86c40b;
$font-color: #282623;
$font-color-2: #a3a599;
$font-color-white: #fff;

// Paramètres du menu
$menu-height: 80px;
$menu-font-padding-top: 20px;
$menu-font-size: 2rem;
$menu-font-color: $primary-color;
$menu-border-bottom-color: $primary-color-2;
$menu-font-color-hover: $secondary-color-2;
$menu-border-bottom-color-hover: $secondary-color-2;